@import "./normalize.css";

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #f6f6f6;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}

::selection {
    background: #ff0077;
    color: rgb(255, 255, 255);
}

.promo-container {
	height: 100vh;
    background-image: url("../media/lepetilo.svg");
    /* background-color: aliceblue; */
    /* background-position-y: 120px;
    background-position-x: 195px; */
    background-position: center;
    background-repeat: no-repeat;
    animation: animate;
    animation-duration: 3s;
}

@keyframes animate {
    0% { 
        opacity: 0; 
    }

    100% { 
        opacity: 100%; 
    }
}

header {
    height: 67px;
}

header .container {
    height: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
	display: flex;
    height: 100%;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    /* cursor: pointer; */
}

.nav-container ul {
	display: flex;
	height: 100%;
}

nav li { 
	display: flex;
	align-items: center;
}

nav a { 
	font-family: yaldevi-reg;
	font-size: 18px;
	color: #111;
    padding: 0 19px;
    text-decoration: none;
}

nav a:hover {
    color: #FD4C6C;
    transition: .3s;
    /* font-family: yaldevi-med; */
} 

h3 {
    font-family: yaldevi-ex-l;
    font-size: 24px;
    color: #111;
}

.promo-container h3 {
    text-align: center;
    padding-top: 36%;
    background-image: linear-gradient(to right, #FD4C6C 0%, #FF58BC 13.29%, #5918DF 25.52%, #1593e3 36.46%, #58D7FF 47.92%, #1593e3 60.94%, #5918DF 73.44%, #FF58BC 86.98%, #FD4C6C 100%);
    background-size: 33%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: gradient;
    animation-timing-function: ease;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/*ABOUT*/

.sec_container {
	display: flex;
}

p {
    font-family: yaldevi-l;
    font-size: 18px;
    line-height: 27px;
}

.sec_container p {
    padding-top: 90px;
}

.text-about {
	display: flex;
	flex-direction: column;
    margin-left: 300px;
    padding-top: 220px;
    align-items: center;
    max-width: 400px;
}

.girl-pic {
    display: flex;
	justify-content: center;
	padding-top: 130px;
	padding-left: 140px;
}

.sec_container button {
    margin-top: 75px;
}

button {
     width: 195px;
    height: 50px;
    font-family: yaldevi-reg;
    font-size: 18px;
    color: #555;
    border: solid 3px transparent;
    border-radius: 25px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(98.67deg, #FD4C6C 0.96%, #FF58BC 99.43%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #f6f6f6 inset;
    cursor: pointer; 
}

button:hover { 
    box-shadow: none;
    color: #fff;
    transition: .3s;
}


/*CURSOR*/

.cursor,
.follow {
    position: absolute;
    pointer-events: none;
    width: 0.4rem;
    height: 0.4rem;
    transform: translate(-50%, -50%);
}

.cursor {
    background-color: #555;
    border-radius: 100%;
}

.follow {
    padding: 2rem;
    border: 0.1rem solid #555;
    transition: all 0.2s ease-out;
    border-radius: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

@font-face {
	font-family: wamelo;
	src: url("../fonts/wamelo/Wamelo.otf");
}

@font-face {
	font-family: yaldevi-ex-l;
	src: url("../fonts/yaldevi/YaldeviColombo-ExtraLight.ttf");
}

@font-face {
	font-family: yaldevi-l;
	src: url("../fonts/yaldevi/YaldeviColombo-Light.ttf");
}

@font-face {
	font-family: yaldevi-reg;
	src: url("../fonts/yaldevi/YaldeviColombo-Regular.ttf");
}

@font-face {
	font-family: yaldevi-med;
	src: url("../fonts/yaldevi/YaldeviColombo-Medium.ttf");
}
