$radicalRed: #FD4C6C;
$hotPink: #FF58BC;
$white: #FFFFFF;
$bg-color: #f1f1f1;
$h-color: #D3D3D3;

* {
    margin: 0;
    padding: 0;
    cursor: url('../media/ellipse.svg'), auto;
}

html {
    background-color: $bg-color;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
}

.pointer {
    position: absolute;
    // top: 50%;
    // left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 1px solid #FD4C6C;
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    transition: 0.15s;
    cursor: dot;
    z-index: 25;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #FD4C6C 0%, #FF58BC 100%);
    border-radius: 10px;

&:hover {
    background: linear-gradient(180deg, #FF58BC 0%, #FD4C6C 100%);
    }
}


::-webkit-scrollbar-track:hover{
    background-color: #eee;
}

::selection {
    background: #ff0077;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: yaldevi-reg;
    font-size: 100px;
    -webkit-text-fill-color: $h-color;
    text-align: center;
    // margin-bottom: 75px;
}

.promo-container {
	height: 100vh;
    background-image: url("../media/titles/lepetilo.svg");
    /* background-color: aliceblue; */
    /* background-position-y: 120px;
    background-position-x: 195px; */
    background-position: center;
    background-repeat: no-repeat;
    animation: animate;
    animation-duration: 3s;
}

@keyframes animate {
    0% { 
        opacity: 0; 
    }

    100% { 
        opacity: 100%; 
    }
}

header {
    height: 67px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.01);;
    backdrop-filter: blur(10px);
}

header .container {
    height: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
	display: flex;
    height: 100%;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    /* cursor: pointer; */
}

.nav-container ul {
	display: flex;
	height: 100%;
}

nav li { 
	display: flex;
	align-items: center;
}

nav a { 
	font-family: yaldevi-reg;
	font-size: 18px;
	color: #111;
    padding: 0 19px;
    text-decoration: none;

&:hover {
    color: #FD4C6C;
    transition: .3s;
    }
}


h3 {
    font-family: yaldevi-ex-l;
    font-size: 24px;
    color: #111;
}

.promo-container h3 {
    text-align: center;
    padding-top: 36%;
    background-image: linear-gradient(to right, #FD4C6C 0%, #FF58BC 13.29%, #5918DF 25.52%, #1593e3 36.46%, #58D7FF 47.92%, #1593e3 60.94%, #5918DF 73.44%, #FF58BC 86.98%, #FD4C6C 100%);
    background-size: 33%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: gradient;
    animation-timing-function: ease;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/*ABOUT*/

// .sec_container {
//     display: flex;
//     margin-bottom: 100px;
// }

p {
    font-family: yaldevi-l;
    font-size: 18px;
    line-height: 27px;
}

.container p {
    padding-top: 90px;
}

.text-about {
	display: flex;
	flex-direction: column;
    margin-left: -1270px;
    padding-top: 220px;
    align-items: center;
    max-width: 400px;
}

.container .girl-pic {
    display: flex;
	justify-content: center;
	padding-top: 130px;
    padding-left: 140px;
}

.bold {
    position: relative;
    left: -320px;
    top: -50px;
    z-index: -5;
    opacity: 0;
}

.pink {
    position: relative;
    left: -820px;
    top: -50px;
    z-index: -5;
    opacity: 0;
}

.red {
    position: relative;
    left: -1370px;
    top: -50px;
    z-index: -5;
    opacity: 0;
}

.container button {
    margin-top: 75px;
}

button {
     width: 195px;
    height: 50px;
    font-family: yaldevi-reg;
    font-size: 18px;
    color: #555;
    border: solid 3px transparent;
    border-radius: 25px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(98.67deg, #FD4C6C 0.96%, #FF58BC 99.43%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #f6f6f6 inset;
    outline: none; 
    cursor: pointer; 

&:hover {
    box-shadow: none;
    color: #fff;
    transition: .3s;
    }
}


.girl:hover~img {
    opacity: 1;
    transition: .7s;
}

.girl:not(:hover)~img {
    transition: .7s;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

/* BLOG */

.blog .container {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-image: linear-gradient(to right, $radicalRed, $hotPink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .title img {
    margin-top: -100px;
    margin-bottom: 60px;
    margin-left: 30%;
}

.blog .slider {
    width: 100vw;
}

.blog .slide {
    display: flex;
    justify-content: center;
    align-self: center;
    max-height: 400px;
}

.blog .slide img {
    /* max-height: 500px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// .slider {
//   width: 600px;
//   margin: 20px auto;
//   text-align: center;
//   padding: 20px;
//   color: #fff;
// }
// .slider .slide {
//   padding: 40px;
// }
// .slider .slide .child-element {
//   -webkit-transition: all 0.2s ease;
//   transition: all 0.2s ease;
//   background: red;
//   width: 100%;
//   height: 150px;
// }
// .slider .slide.slick-center .child-element {
//   background: rebeccapurple;
//   -webkit-transform: translate(-70px, 0px);
//           transform: translate(-70px, 0px);
//   width: calc(100% + 140px);
//   max-width: initial;
// }


/* PORTFOLIO */

// .portfolio {
//     display: flex;
//     justify-content: center;
//     align-self: center;
//     min-height: 100vh;
// }

.portfolio .container {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-image: linear-gradient(to right, $radicalRed, $hotPink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid_container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.grid_container .box {
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: $white;
    transition: .5s;

&:hover {
    background-color: $radicalRed;
    }

    img {
        position: relative;
        max-width: 60%;
        margin-bottom: 20px;
        margin-top: 0; 
    }
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;

    img {
        max-width: 90%;
        max-height: 80%;
        padding: 4px;
        background-color: black;
    }
}
  
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_container .box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid_container .box:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid_container .box:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid_container .box:nth-child(5) {
    grid-column: span 3;
    grid-row: span 1;
}

@media (max-width: 991px) {
    .grid_container {
        grid-template-columns: repeat(auto-fill,minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }

    .grid_container .box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}

/*VIDEO*/

.vjs-theme-sea .vjs-big-play-button {
    width: 70px;
    height: 70px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    margin: 0 auto;
    line-height: 79px;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    margin-top: -51.5px;
    margin-left: -39.5px;
  }
  
  .vjs-theme-sea .vjs-control-bar {
    height: 4em;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .vjs-theme-sea .vjs-button:hover {
    color: #4176bc;
    background: linear-gradient(to top, #d0ddee, #fff);
  }
  
  .vjs-theme-sea .vjs-button > .vjs-icon-placeholder::before {
    line-height: 2.2;
  }
  
  .vjs-theme-sea .vjs-time-control {
    line-height: 4em;
  }
  
  .vjs-theme-sea .vjs-volume-panel {
    display: none;
  }
  
  .vjs-theme-sea .vjs-picture-in-picture-control {
    display: none;
  }
  
  .vjs-theme-sea .vjs-progress-control .vjs-play-progress {
    background-color: rgba(65, 118, 188, 0.9);
  }
  
  .vjs-theme-sea .vjs-progress-control .vjs-play-progress:before {
    display: none;
  }
  
  .vjs-theme-sea .vjs-progress-control .vjs-slider {
    background-color: rgba(65, 118, 188, 0.1);
  }
  
  .vjs-theme-sea .vjs-progress-control .vjs-load-progress div {
    background: rgba(255, 255, 255, 0.5);
  }
  
  .vjs-theme-sea .vjs-progress-control .vjs-progress-holder {
    margin: 0;
    height: 100%;
  }
  
  .vjs-theme-sea .vjs-progress-control .vjs-time-tooltip {
    background-color: rgba(65, 118, 188, 0.5);
    color: #fff;
  }
  
  .vjs-theme-sea .vjs-progress-control .vjs-mouse-display .vjs-time-tooltip {
    background-color: rgba(255, 255, 255, 0.7);
    color: #4176bc;
  }





.video {
    margin-top: 200px;
    width: 100vw;
    // id: my-video;
    // class: video-js vjs-default-skin;
    // controls
    // preload: auto;
    // width: 1280px;
    // height: 528;
    // poster: "./media/slide2.jpg";
    // data-setup: "{}";
}

/* PRICE */


.price .container {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-image: linear-gradient(to right, $radicalRed, $hotPink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price .price-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 480px;
}

.price-cards {

    .card,
    .big-card {
        // flex-basis: 17%;
    // min-height: 355px;
    // padding: 15px 0 20px 0;
    // border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    position: relative;
    }

    .card:first-child,
    .card:last-child {
        height: 400px;
        width: 250px;
        border: 3px solid $radicalRed;
        border-radius: 30px;        
    }

    .color-circ {
        height: 400px;
        width: 250px;
        border-radius: 25px;
        clip-path: circle(240px at 30px 50px);
        cursor: pointer;
    }

    .first-circ{
        background-image: linear-gradient(to right, $radicalRed ,#FD4F81);
    }

    .sec-circ{
        background-image: linear-gradient(to right, #FE5088 ,#FE54A2);
    }

    .third-circ{
        background-image: linear-gradient(to right, #FE55A9 ,$hotPink);
    }

    .card:first-child h3,
    .card:last-child h3 {
        font-family: yaldevi-reg;
        font-size: 36px;
        -webkit-text-fill-color: $white;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;
    }

    .card:first-child h2,
    .card:last-child h2 {
        font-family: yaldevi-b;
        font-size: 200px;
        -webkit-text-fill-color: $bg-color;
        text-align: center;
        margin-bottom: 0px;
        cursor: pointer;
    }

    .big-card {
        height: 500px;
        width: 320px;
        border: 3px solid $radicalRed;
        border-radius: 40px;
        cursor: pointer;

        .color-circ {
            height: 440px;
            width: 320px;
            border-radius: 35px;
            background-color: $radicalRed;
            clip-path: circle(350px at 30px 50px);
        }

        h3{
            font-family: yaldevi-reg;
            font-size: 48px;
            -webkit-text-fill-color: $white;
            text-align: center;
            padding-top: 20px;
            cursor: pointer;
        }

        h2{
            font-family: yaldevi-b;
            font-size: 288px;
            -webkit-text-fill-color: $bg-color;
            text-align: center;
            margin-bottom: 0px;
            cursor: pointer;
        }
    }

    .card a,
    .big-card a {
        font-family: yaldevi-reg;
        font-size: 24px;
        background-image: linear-gradient(to right, $radicalRed, $hotPink);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 30px;
        text-align: center;
        cursor: pointer;
    }

}

.card:hover,
.big-card:hover {
    box-shadow: 0px 10px 70px rgba(253, 76, 108, 0.616);
    transition: .3s;
    cursor: pointer;
}

.card:not(:hover),
.big-card:not(:hover) {
    transition: .3s;
}

// .price-cards .card:last-child {
//     height: 400px;
//     width: 250px;
//     border-radius: 30px;
//     background-color: $radicalRed;
// }

/* CONTACT */




// #fs-frm input,
// #fs-frm select,
// #fs-frm textarea,
// #fs-frm fieldset,
// #fs-frm optgroup,
// #fs-frm label,
// #fs-frm #card-element:disabled {
//   font-family: yaldevi-reg;
//   font-size: 100%;
//   color: inherit;
//   border: none;
//   border-radius: 0;
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }
// #fs-frm label,
// #fs-frm legend,
// #fs-frm ::placeholder {
//   font-size: 18px;
//   margin-bottom: .5em;
//   padding-top: .2em;
//   display: flex;
//   align-items: baseline;
// }

// /* border, padding, margin, width */
// #fs-frm input,
// #fs-frm select,
// #fs-frm textarea,
// #fs-frm #card-element {
//   border: 1px solid rgba(0,0,0,0.2);
//   background-color: rgba(255,255,255,0.9);
//   padding: .75em 1em;
//   margin-bottom: 1.5em;
// }
// #fs-frm input:focus,
// #fs-frm select:focus,
// #fs-frm textarea:focus {
//   background-color: white;
//   outline-style: solid;
//   outline-width: thin;
//   outline-color: gray;
//   outline-offset: -1px;
// }
// #fs-frm [type="text"],
// #fs-frm [type="email"] {
//   width: 100%;
// }
// #fs-frm [type="button"],
// #fs-frm [type="submit"],
// #fs-frm [type="reset"] {
//   width: auto;
//   cursor: pointer;
//   -webkit-appearance: button;
//   -moz-appearance: button;
//   appearance: button;
// }
// #fs-frm [type="button"]:focus,
// #fs-frm [type="submit"]:focus,
// #fs-frm [type="reset"]:focus {
//   outline: none;
// }
// #fs-frm [type="submit"],
// #fs-frm [type="reset"] {
//   margin-bottom: 0;
// }
// #fs-frm select {
//   text-transform: none;
// }

// #fs-frm [type="checkbox"] {
//   -webkit-appearance: checkbox;
//   -moz-appearance: checkbox;
//   appearance: checkbox;
//   display: inline-block;
//   width: auto;
//   margin: 0 .5em 0 0 !important;
// }

// #fs-frm [type="radio"] {
//   -webkit-appearance: radio;
//   -moz-appearance: radio;
//   appearance: radio;
// }

// /* address, locale */
// #fs-frm fieldset.locale input[name="city"],
// #fs-frm fieldset.locale select[name="state"],
// #fs-frm fieldset.locale input[name="postal-code"] {
//   display: inline;
// }
// #fs-frm fieldset.locale input[name="city"] {
//   width: 52%;
// }
// #fs-frm fieldset.locale select[name="state"],
// #fs-frm fieldset.locale input[name="postal-code"] {
//   width: 20%;
// }
// #fs-frm fieldset.locale input[name="city"],
// #fs-frm fieldset.locale select[name="state"] {
//   margin-right: 3%;
// }



/* CONTACT */
.contact {
    margin-top: 100px;

    .container {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}

fieldset {
    border-width: 0;
}

.group { 
    position: relative; 
    margin-bottom: 45px; 
}

input,
textarea {
    font-size: 18px;
    width: 650px;
    padding: 10px 0;
    display: block;
    background-color: $bg-color;
    border: none;
    border-bottom: 1px solid #757575;

&:focus {
    outline: none;
    }
}

textarea {
    resize: none;
}

  /* LABEL ======================================= */
  label {
    color: #757575; 
    font-family: yaldevi-reg;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all; 
  }
  
  /* active state */
  input:focus ~ label, 
  input:valid ~ label,
  textarea:focus ~ label, 
  textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: $radicalRed;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ 
    position: relative; 
    display: block; 
    width: 650px; 


  &:before, 
  &:after {
    content:'';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: $radicalRed; 
    transition: 0.2s ease all; 
  }

  &:before { left:50%; }
  &:after  { right:50%; }
  }
  /* active state */
  input:focus ~ .bar:before, 
  input:focus ~ .bar:after,
  textarea:focus ~ .bar:before, 
  textarea:focus ~ .bar:after {
    width: 50%;
  }

  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }


/* QUOTE */

.quote  img {
    display: block;
    margin: 100px 30% 0;
}

.quote  .slider p {
    font-family: yaldevi-reg;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    white-space: pre;
    padding-bottom: 20px;
}

.quote  .slider img {
    height: 54px;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}

/* FOOTER */

.container_footer {
    height: 100%;    
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.post_scriptum {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 45%;

    .heart {
        width: 30px;
        padding: 0 10px;
    }

    .ps_first {
        display: flex;
        padding-bottom: 20px;
    }

    .ps_second {
        width: 110px;
        margin-bottom: 50px;
    }
}


footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .nav-container {
        padding-top: 50px;
        margin-bottom: 50px;
    }
    nav a {
        padding: 0 35px;
    }

    img {
        // position: relative;
        width: 100vw;
    }

}
.footer-img {
    position: relative;
}

.pink_f,
.red_f,
.bold_f {
    top: 50px;
}

.pink_f { z-index: 1; }
.red_f { z-index: 2; 
margin-top: -200px;}
.bold_f { z-index: 3; 
margin-top: -300px;}


/* UP */
#toTop {
    width: 40px;
    height: 40px;
    border: 2px solid $radicalRed;
    border-radius: 50%;
    background: $bg-color;
    opacity: .5;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 15px; /* отступ кнопки от нижнего края страницы*/
    right: 10px;
    cursor: pointer;
    display: none;
    color: $radicalRed;
    font-family:verdana;
    font-size: 25px;

&:hover {
    opacity: 1;
    transition: .2s;
    }

&:not(:hover) {
    transition: .2s;
    }
}

@font-face {
	font-family: wamelo;
	src: url("../fonts/wamelo/Wamelo.otf");
}

@font-face {
	font-family: yaldevi-ex-l;
	src: url("../fonts/yaldevi/YaldeviColombo-ExtraLight.ttf");
}

@font-face {
	font-family: yaldevi-l;
	src: url("../fonts/yaldevi/YaldeviColombo-Light.ttf");
}

@font-face {
	font-family: yaldevi-reg;
	src: url("../fonts/yaldevi/YaldeviColombo-Regular.ttf");
}

@font-face {
	font-family: yaldevi-med;
	src: url("../fonts/yaldevi/YaldeviColombo-Medium.ttf");
}

@font-face {
	font-family: yaldevi-b;
	src: url("../fonts/yaldevi/YaldeviColombo-Bold.ttf");
}
